/AssetEncryptionDemo/AssetEncryptionDemo.sln
/AssetEncryptionDemo/.vs
/AssetEncryptionDemo/Library
/AssetEncryptionDemo/Logs
/AssetEncryptionDemo/obj
/AssetEncryptionDemo/Assembly-CSharp.csproj
/AssetEncryptionDemo/Assembly-CSharp-Editor.csproj
/AssemblyEncryptionDemo/Library
/AssemblyEncryptionDemo/Logs
/AssemblyEncryptionDemo/obj
/AssemblyEncryptionDemo/Assembly-CSharp.csproj
/AssemblyEncryptionDemo/AssemblyEncryptionDemo.sln
/AssemblyEncryptionDemo/.vs
